body {
    font-family: Arial, sans-serif;

}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #316e33;
}

input {
    margin: 5px;
    padding: 8px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}